#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
    

/ {
    macros {
        mac_mul: mac_mul {
            label = "mac_mul";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp N0 &kp N2 &kp N1 &kp N5>
                , <&macro_release &kp LALT>
                ;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp GRAVE &kp F1   &kp F2    &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8     &kp F9  &kp F10  &kp F11   &kp F12  &kp GRAVE
                &kp ESC   &kp N1   &kp N2    &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8     &kp N9  &kp N0   &kp MINUS &kp DEL  &kp LNLCK &kp PSCRN &kp C_AL_CALC &kp KP_PLUS
				&kp TAB   &kp Q    &kp W     &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I      &kp O   &kp P    &kp GRAVE &kp BSPC &kp N7    &kp N8    &kp N9        &kp KP_MINUS
				&kp CAPS  &kp A    &kp S     &kp D  &kp F  &kp G  &kp H  &kp J  &kp K      &kp L   &kp SEMI &kp APOS  &kp RET  &kp N4    &kp N5    &kp N6        &mac_mul
				&kp LSHFT &kp Z    &kp X     &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT &kp FSLH &kp BSLH  &kp UP   &kp N1    &kp N2    &kp N3        &kp KP_SLASH
				&kp LCTRL &kp LWIN &kp LALT  &kp SPACE  &kp GRAVE  &kp GRAVE  &kp GRAVE  &kp GRAVE &kp RALT &kp LEFT  &kp DOWN &kp RIGHT &kp N0    &kp KP_DOT    &kp KP_EQUAL
            >;   
        };
    };
};